* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: black;
  font-family: "Inter", sans-serif;
  min-height: 100vh;
  border: 1px solid black;
  border-radius: 25px;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.App {
  border-radius: 25px;
}

.header {
  text-align: center;
  padding: 20px;
  border-radius: 25px 25px 0px 0px;
  background-color: #fcf761;
  min-height: 150px;
}

form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form input,
form button {
  border-radius: 15px;
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
  background-color: #ebf57c;
  border: 1px solid #e0e2e2;
}
/* form button {
    color: #ff6f47;
    background: #f7fffe;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  form button:hover {
    background: #ff6f47;
    color: white;
  } */

.todo-button {
  position: relative;
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 13px 20px 13px;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-left: 20px;
}

.todo-button:after {
  content: "";
  background-color: #92dad9;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
  border-radius: 15px;
}

.todo-button:hover:after {
  top: 0px;
  left: 0px;
}

.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #bcc5e9;
  border-radius: 15px;
  margin-left: 100px;
  margin-right: 100px;
  background-color: #bcc5e9;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.todolist-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list {
  min-width: 30%;
  list-style: none;
}

.todo {
  margin: 0.5rem;
  font-size: 1.5rem;
  color: rgb(2, 2, 1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 2s ease-in;
  border: 3px solid #fcfcfc;
  border-radius: 15px;
  /* margin-left: 100px;
    margin-right: 100px; */
  background-color: #fcfcfc;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.filter-todo {
  padding: 1rem;
}

.todo li {
  flex: 1;
}

.trash-btn,
.complete-btn {
  background: #eca4a4;
  color: white;
  border: none;
  padding: 0.5rem;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 15px;
}
.complete-btn {
  background: #9c92c4;
  margin-right: 10px;
}
.todo-item {
  padding: 0rem 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .fa-trash,
  .fa-check {
    pointer-events: none;
  } */

.fall {
  transform: translateY(10rem) rotateZ(20deg);
  opacity: 0;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

/*CUSTOM SELECTOR */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background-image: none;
}

/* Custom Select */
.select {
  margin: 1rem;
  position: relative;
  overflow: hidden;
}
select {
  color: #ff6f47;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  width: 12rem;
}
/* Arrow */
.select::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
  background: #ff6f47;
  cursor: pointer;
  pointer-events: none;
}

.datetime {
  color: rgb(61, 60, 60);
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 48px;
  margin: 0 0 24px;
  padding: 0 30px;
  text-align: center;
  text-transform: uppercase;
  border-radius: 25px;
  border-radius: 25px;
  /* margin-top: 100px; */
  /* margin-bottom: 100px; */
  margin-right: 150px;
  margin-left: 150px;
  background-color: #f6f6f6;
  /*TESTING*/
  box-shadow: rgba(77, 80, 83, 0.3) 0px 1px 2px 0px,
    rgba(124, 126, 127, 0.15) 0px 2px 6px 2px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.sayHi {
  color: #e097d4;
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 65px;
  font-weight: 700;
  line-height: 64px;
  margin: 0 0 0;
  padding: 20px 30px;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 6px 6px 0px rgba(195, 189, 189, 0.962);
}
/* Transition */
/*
    .select:hover::after {
      transform: scale(1.5);
    }
    */
/* 
  <!-- HTML !-->
  <button class="button-52" role="button">Button 52</button> */

/* CSS */
/* .card {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000000;

  &::before {
    content: "";
    position: absolute;
    /* top: 0;
    left: 0;
    z-index: 20;
    width: 50%;
    height: 100%;
    background-color: rgba(#ffffff, 0.1);
    pointer-events: none;
  }
} */
/* 
card__frame {
  position: absolute;
  width: 50%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  text-align: center;
} */

/* .card__title {
  margin: 0;
  font-weight: 700;
  letter-spacing: 0.08em;
  text-transform: uppercase;
} */

.card__overlay {
  position: static;
  /* bottom: 100px;
  right: 300px; */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  background-color: #f5ceec;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(#000000, 0.2);
  transition: 0.5s;
  cursor: pointer;

  &::before {
    content: "Calender";
    font-size: 10px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 0.02em;
  }

  &:hover,
  &:focus {
    /* bottom: 0;
    right: 0; */
    /* width: 20%;
    height: 20%; */
    box-shadow: none;
    border-radius: 25px;
    opacity: 0.9;

    &::before {
      content: none;
    }
  }
}

.card__content {
  z-index: 1;
  padding: 20px;
  line-height: 1.4;
  opacity: 0;
  visibility: hidden;
  box-sizing: border-box;
  pointer-events: none;
  transition: 0s;

  .card__overlay:hover ~ & {
    opacity: 1;
    visibility: visible;
    transition: 0.2s 0.3s;
  }
}

.sun {
  width: 70px;
  height: 70px;
  display: grid;
  align-self: center;
  /* TESTING */
}

/* CALENDAR */

.react-calendar {
  width: 50%;
  max-width: 100%;
  background: rgb(255, 255, 255);
  border: 1px solid #a0a096;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
  border-radius: 25px;
}
.react-calendar--doubleView {
  width: 700px;
}
.react-calendar--doubleView .react-calendar__viewContainer {
  display: flex;
  margin: -0.5em;
}
.react-calendar--doubleView .react-calendar__viewContainer > * {
  width: 50%;
  margin: 0.5em;
}
.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.react-calendar button {
  margin: 0;
  border: 0;
  outline: none;
}
.react-calendar button:enabled:hover {
  cursor: pointer;
}
.react-calendar__navigation {
  display: flex;
  height: 44px;
  margin-bottom: 1em;
}
.react-calendar__navigation button {
  min-width: 44px;
  background: none;
}
.react-calendar__navigation button:disabled {
  background-color: #f0f0f0;
}
.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: #e6e6e6;
}
.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.75em;
}
.react-calendar__month-view__weekdays__weekday {
  padding: 0.5em;
}
.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75em;
  font-weight: bold;
}
.react-calendar__month-view__days__day--weekend {
  color: #ee5cb9;
}
.react-calendar__month-view__days__day--neighboringMonth {
  color: #757575;
}
.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  padding: 2em 0.5em;
}
.react-calendar__tile {
  max-width: 100%;
  padding: 10px 6.6667px;
  background: none;
  text-align: center;
  line-height: 16px;
}
.react-calendar__tile:disabled {
  background-color: #f0f0f0;
}
.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: #e6e6e6;
}
.react-calendar__tile--now {
  background: #ffff76;
}
.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: #ffffa9;
}
.react-calendar__tile--hasActive {
  background: #76baff;
}
.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #a9d4ff;
}
.react-calendar__tile--active {
  background: #e56dd3;
  color: white;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #d7ff10;
}
.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #e6e6e6;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #ffffff;
  color: rgb(8, 8, 8);
  text-align: center;
  display: inline-block;
}

.logo {
  width: 100px;
  height: auto;
  display: inline;
}

.cpr {
  display: inline-block;
}
